<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MVC Book App</title>
    <style media="screen">
    body {
      justify-content: center;
      height: auto;
      text-align: center;
      width: 100%;
    }
      .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
      .card {
        background-color: grey;
        border: 1px solid black;
        flex:1;
        margin:10px;
        text-align: center;
      }
    </style>
  </head>
  <body>

    <h1>Book Discussion</h1>



    <div class="container">
      <div class="card">
        <img src=`<%= books[0].img_url %>`>
        <p>`<%= books[0].description %>`</p>
      </div>
    </div>

  </body>
</html>
